/* Overall styling */

:root {
    font-size: 16px;
}

body {
    color: #333333;
    background-color: #e7eee7;
    font-size: 1rem;
}

.footer a {
    color: #007700;
}

.footer {
    margin: 40px;
    padding: 20px;
    background-color: #bbbbbb;
    border-radius: 20px;
}

.lastmod {
    text-align: center;
    padding: 20px;
    margin: 30px;
}

.address {
    padding:0px;
    margin:0px;
}

.contact-icon {
    padding-right:10px;
    vertical-align: top;
}

.snail {
    line-height: 110%;
}

.navbar {
    border-radius: 0px;
    background-color: #333333;
    padding-top: 0px;
    padding-bottom: 0px;
}

.mainbits a {
    margin-top: 20px;
    color: #00aa00;
}

.toplabel {
    margin-top: 20px;
    padding-bottom: 20px;
}

#dr-headmenu li {
    padding-top: 10px;
    padding-bottom: 10px;
}

#dr-headmenu a {
    padding: 5px 15px;
    color: #9d9d9d;
}

#dr-headmenu li.active {
    background-color: #080808;
}

#dr-headmenu li.active > a {
    color: #ffffff;
}

#dr-headmenu a:hover {
    color: #ffffff;
}

.navbar-dark .navbar-brand {
    color: #9d9d9d;
}

#indexlink-id:hover {
    color: #ffffff;
}

.nav-tabs .nav-link {
    color: #9d9d9d;
}

.nav-tabs .nav-link.active {
    background-color: #333333;
    color: #e7eee7;
    border-color: #e7eee7;
}

/* Index page stuff */

.good-morning {
    margin-top: 0px;
    padding-top: 0px;
}

.splashimg {
    width: 100%;
}


/* Writing page stuff */

.writingcat {
    padding-bottom: 20px;
    text-align: center;
}


.tags {
    text-align: center;
}

.searchcheck {
    padding: 0px;
    margin: 0px;
}

.writingdisplay {
    list-style-type: none;
}

.ptitle {
    font-size: x-large;
    padding-bottom: 0px;
    margin-bottom: 5px;
    line-height: 100%;
}

.pauthors {
    margin-bottom: 5px;
}

.paperbubble {
    color: #eeeeee;
    background-color: #333333;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    padding-left: 20px;
}

.paperbubble a {
    color: #ccccff;
    text-decoration: none;
}

.paperbubble a:hover {
    text-decoration: underline;
}

.searchbarhide {
    display: none;
}

.searchauthorhide {
    display: none;
}

.filterhead {
    margin-bottom: 0px;
}

.searchbar {
    margin-bottom: 50px;
}

.also-see {
    margin-top: 30px;
}

pre {
    margin: 0px;
}

.bibtex {
    background-color: #e7eee7;
    color: #333333;
    border-radius: 5px;
    padding-left: 1rem;
}

.abstract {
    background-color: #e7eee7;
    color: #333333;
    border-radius: 5px;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
}

.paperinfo {
    background-color: #444444;
    border-radius : 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.tab-content {
    margin-top: 10px;
}

#cervr-info {
    color: #00aa00;
}

/* Presentation page stuff */


.extra-marks {
    border-radius: 10px;
    padding-bottom: 10px;
}

.extra-marks a {
    color: #333333;
}

.talktitle {
    line-height: 120%;
    font-size: 1.3rem;
}


.presentation-link {
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
    list-style-type: none;
}


.presentation-row {
}

.pres-bubble {
    color: #eeeeee;
    background-color: #333333;
    border-radius: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}


.pres-bubble a {
    color: #ccccff;
}

.pres-bubble hr {
    margin: 0px;
    padding: 0px;
    padding-bottom: 5px;
}

.presentation-venue {
    font-size: .9rem;
}

.pres-with-extras {
    background-color: #005500;
}

.pres-extras-legend {
    color: #008800;
}


/* Exercises page stuff */

div.chunk {
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

div.oblang {
    font-family: "Courier New", Courier, monospace;
}

p.oblang {
    font-family: "Courier New", Courier, monospace;
}

div.sentence-display {
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;    
    margin-left: 10px;
    max-width: 90%;
}

.task label {
    background-color: #333333;
    color: #e7eee7;
    border-color: #e7eee7;
}

.task .btn-check:checked + .btn-outline-primary {
    background-color: #080808;
    border-color: #080808;
}

.task .btn-outline-primary:hover {
    background-color: #333333;
    color: #ffffff;
    border-color: #080808;
}